<div>
    <h2 id="page-heading">
        <span>Bill Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bill-setting" [routerLink]="['/bill-setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bill Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="billSettings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeBill"><span>Type Bill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pricePerKW"><span>Price Per KW</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discount"><span>Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tax"><span>Tax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processing"><span>Processing</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enabled"><span>Enabled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateCreated"><span>Date Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateModified"><span>Date Modified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billSetting of billSettings ;trackBy: trackId">
                <td><a [routerLink]="['/bill-setting', billSetting.id, 'view' ]">{{billSetting.id}}</a></td>
                <td>{{billSetting.typeBill}}</td>
                <td>{{billSetting.pricePerKW}} <strong>円</strong></td>
                <td>{{billSetting.discount}} <strong>%</strong></td>
                <td>{{billSetting.tax}} <strong>%</strong></td>
                <td>{{billSetting.processing}} <strong>円</strong></td>
                <td>{{billSetting.enabled}}</td>
                <td>{{billSetting.dateCreated | date:'medium'}}</td>
                <td>{{billSetting.dateModified | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bill-setting', billSetting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bill-setting', billSetting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bill-setting/'+ billSetting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="billSettings && billSettings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
