<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="meters">
            <h2><span>Meters</span> {{meters.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Latituude</span></dt>
                <dd>
                    <span>{{meters.latituude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{meters.longitude}}</span>
                </dd>
                <dt><span>Qr Code</span></dt>
                <dd>

                    <div *ngIf="meters.qrCode">
                        <img [src]="meters.qrCode" alt="" height="auto">
                    </div>
                </dd>
                <dt><span>Address Meters</span></dt>
                <dd>
                    <span>{{meters.addressMeters}}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{meters.dateCreated}}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{meters.dateModified}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meters', meters.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
