<div>
    <h2>About</h2>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">
                <strong>WeBill</strong> to have an overview on your electricty Bill.
            </p>
            <blockquote class="blockquote">
                <p>
                    In late September through mid-October 2014, I'd done a , I decided I'd wait until after the detox to get it. After three weeks, not only did I lose 15 pounds,
                    but my blood pressure was at normal levels!
                </p>
            </blockquote>
        </div>
    </div>
</div>
