<div>
    <h2 id="page-heading">
        <span>Notifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notifications" [routerLink]="['/notifications/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Notifications
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="notifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="message"><span>Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="checked"><span>Checked</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdAt"><span>Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="updateAt"><span>Update At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="senderUser.id"><span>Sender User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="receiverUser.id"><span>Receiver User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notifications of notifications ;trackBy: trackId">
                <td><a [routerLink]="['/notifications', notifications.id, 'view' ]">{{notifications.id}}</a></td>
                <td>{{notifications.message}}</td>
                <td>{{notifications.checked}}</td>
                <td>{{notifications.createdAt | date:'medium'}}</td>
                <td>{{notifications.updateAt | date:'medium'}}</td>
                <td>
                    {{notifications.senderUser?.login}}
                </td>
                <td>
                    {{notifications.receiverUser?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/notifications', notifications.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'notifications/'+ notifications.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="notifications && notifications.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
